/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
section{
    margin-bottom: 50px;
}

.no-number{
    margin-top: 20px;
}

.row .box{
    text-align: center;
    color: white;
    background-color: blue;
    border: 1px solid white;
    padding: 10px 15px;
}

.row .green{
    background-color: green;
    border: 1px solid white;
}


/*************
    BONUS 
**************/
.row .big{
    height: 100px;
}

.row .small{
    height: 50px;
}

.middle{
    display: flex;
    align-items: center;
}

.bottom{
    align-items: end;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}